DB_USER = ?
DB_PWD  = ?
DB_NAME = ?
DB_HOST = localhost
DB_PORT = 5432

GOOSE_DRIVER        = postgres
GOOSE_DBSTRING      = postgres://usuario:senha@localhost:5432/nome_do_banco
GOOSE_MIGRATION_DIR = sql
