.home-page {
	--search-container-displacement: 72px;

	> .header {
		.section {
			display: flex;
			justify-content: center;

			> .section-inner {
				max-width: var(--safe-width);
				width: 100%;
				margin: 0 64px;
			}
		}

		.section.banner {
			background-image: url("/public/road.jpg");
			background-size: cover;
			background-position-y: bottom;
			width: 100%;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: flex-end;

			.brand {
				color: var(--background);
				margin-bottom: calc(
					var(--search-container-displacement) + 20px
				);
				display: flex;

				.name {
					font-family: "Switzer";
					font-weight: bolder;
					font-size: 32px;
					line-height: 32px;
				}

				.icon {
					font-size: 32px;
					margin-right: 3px;
				}
			}
		}

		.section.search {
			.search-area {
				margin-top: calc(var(--search-container-displacement) * -1);
				min-height: var(--search-container-displacement);
				background: var(--background);
				padding: 32px;
				gap: 32px;
				display: flex;
				flex-direction: column;
				outline: 1px solid #00000014;
				border-radius: 32px;
				corner-shape: squircle;

				.row.first {
					display: flex;
					gap: 24px;

					.drop {
						display: flex;
						align-items: center;
						gap: 4px;
						height: fit-content;

						.icon {
							font-size: 24px;
						}

						.label {
							font-weight: 500;
						}

						.arrow-down {
							font-size: 16px;
							color: gray;
						}
					}
				}

				.row.second {
					display: flex;
					gap: 8px;

					.space {
						display: flex;
						align-items: center;
						padding: 0 18px;
						height: 64px;
						background: #0000000f;
						width: 100%;
						border-radius: 32px;
						corner-shape: squircle;
					}

					.switch {
						height: 64px;
						aspect-ratio: 1 / 1;
						background-color: black;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 32px;
						corner-shape: squircle;

						.icon {
							color: var(--background);
							font-size: 24px;
						}
					}
				}

				.row.third {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 64px;

					.col.first {
						.button {
							display: flex;
							gap: 8px;

							.icon {
								font-size: 16px;
							}
						}
					}
					
					.col.second {
						.button {
							display: flex;
							align-items: center;
							height: 64px;
							padding: 0 24px;
							background-color: black;
							color: var(--background);
							font-weight: 500;
							border-radius: 100px;
						}
					}
				}
			}
		}
	}
}
