:root {
	font-size: 10px;
	font-family: sans-serif;

	--background: #dddddd;
	--border-glow: #ffffff0f;
	--safe-width: 1280px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--background);
	font-size: 1.4rem;
}

input {
	border: none;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}
