.search-dropdown {
	height: 64px;
	position: relative;
	background-color: var(--shadow-soft);
	border-radius: var(--corner-radius);
	corner-shape: var(--corner-shape);
	width: 100%;
	outline: 2px solid transparent;

	input {
		padding: 16px 16px 0 16px;
		height: 100%;
		width: 100%;
		font-size: 16px;
		display: flex;
		align-items: flex-end;
	}

	.label {
		display: flex;
		align-items: center;
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
		user-select: none;
		pointer-events: none;
		font-size: 16px;
		transition: 200ms;
		height: calc(64px / 3);
	}

	&.focused {
		> .label {
			top: 32%;
			font-size: 13px;
		}
	}
}
